<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/CxoN2M5J5fbwQ9gTXZM6B1fLzXv4xjP0Y+K6w6w0f8Q/aw==" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/main.min.js" defer></script>
<link rel="stylesheet" href="{{ site.url }}/assets/css/weather-widget.css">
<script src="{{ site.url }}/assets/js/weather-widget.js" defer></script>
